.form-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .d-flex {
    display: flex;
    gap: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns children to the right */
    width: 100%;
    margin-left: 20px;
  }
  
  .input-container label {
    align-self: flex-start; /* Aligns the label to the start (left) */
    /* margin-bottom: 5px; */
    font-weight: bold;
    color: #333;
  }
  
  .input-container input,
  .input-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
     
  }
  
  .input-container input{
    margin-bottom: 30px;
    margin-left: 40px; /* Creates indentation from the label */
    min-width: 320px;
  }
  .input-container select{
    margin-left: 22px; /* Creates indentation from the label */
    min-width: 338px;
  }

  .messages {
    margin-left: 20px;
    min-height: 2rem; /* Reserve space for messages */
    color: darkslateblue; /* Default text color for error messages */
    margin-top: 2rem; /* Space above the messages */
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
  }

  .button-container div {
    margin-left: 10px;
  }
  
  .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    /* transition: background-color 0.2s;
     */
     background-color: #729ef093;
  }
  
  .button-container button:hover {
    background-color: #5287e9;
  }
  
  .button-container button:disabled {
    background-color: #eee;
    color: #999;
    cursor: not-allowed;
  }